## configure control node (ansible-manager) as load balancer for servers a,b,c,d

http {

   upstream backend {
    {% for server in nginx_loadbalance %}
       server {{ server }};
    {% endfor %}               

    }

  server {
   listen 80;
   server_name _;

   location / { 
      proxy_pass http://backend ;
   }
 }

}
